bcrypt           3.2.0
cryptography     36.0.1
ipython          7.20.0
ipython-genutils 0.2.0
Jinja2           3.0.1
matplotlib       3.4.2
openpyxl         3.1.5
pandas           1.2.3
pdfkit           0.6.1
pexpect          4.8.0
PyQt5            5.15.2.0
PyQt5-stubs      5.15.2.0
PyQtChart        5.15.4
pyqtgraph        0.12.3
pytest           6.2.3
tzdata           2024.1
wheel            0.45.1
XlsxWriter       3.2.2